# --- Font ---
font-family = Hack Nerd Font
font-size = 14
bold-color = bright

# --- Window ---
window-padding-balance = true
scrollback-limit = 1000

# --- Cursor ---
cursor-color = #FC531D
cursor-text = #FFC88A
cursor-style = block
cursor-style-blink = false

# --- Colors ---
background = #262626
foreground = #FFCB83

selection-background = #C14020
selection-foreground = #FFC88A

# ANSI colors
palette = 0=#000000
palette = 1=#c13900
palette = 2=#a4a900
palette = 3=#caaf00
palette = 4=#bd6d00
palette = 5=#fc5e00
palette = 6=#f79500
palette = 7=#ffc88a

palette = 8=#6a4f2a
palette = 9=#ff8c68
palette = 10=#f6ff40
palette = 11=#ffe36e
palette = 12=#ffbe55
palette = 13=#fc874f
palette = 14=#c69752
palette = 15=#fafaff

# --- Misc ---
mouse-hide-while-typing = true
confirm-close-surface = false

# --- Keybindings ---
keybind = super+left=previous_tab
keybind = super+right=next_tab
